@import "normalize.css";
@import "colors.scss";
@import "mixins.scss";

/***************************************
GENERAL STYLES
***************************************/
*, *:before, *:after {
	@include boxSizing;
	margin:0;
	padding:0;
}

body {
	background-image: url('../img/turtle-bay-beach.jpg');
	color: $white;
}

.section-wrap {
    max-width:1140px;
    margin:0 auto;
    padding:0 3%;
}
h1, h2, h3, h4, h5, h6, p, span {
	margin: 0 0 16px;
}
h1, h2, h3, h4, h5, h6 {
	font-weight:400;
}
.clear-both {
	clear: both;
}
/***************************************
HEADER
***************************************/
.header-div {
	padding: 20px 0;
	//@include darkOpaque;
}
.top-h2 {
	margin-bottom:34px;
	padding:8px 0;
	max-width:285px;
	border-bottom:3px solid $lightBlue;
}
.top-h2, .top-h3 {
	color: #fff;
	text-shadow: 1px 1px 9px #060606;
}

/***************************************
VACATION BOX
***************************************/
.vacation-container {
	width:31%;
	float:left;
    margin: 0 1.5% 1.5% 0;
}
.vacation {
    @include darkOpaque;
    -webkit-box-shadow: 1px 1px 5px #000;
	box-shadow: 1px 1px 10px #000;
    width:100%;
    padding: 7%;
    //width:100%;
    //height:100%;
    border: 2px solid $white;
}
.vacation > h3 {
	border-bottom:3px solid $lightBlue;
	padding:5px 0;
}
.quantity {
	color: #505050;
	font-weight:400;
	width:118px;
	&:focus {
		outline:none;
	}
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none; 
  margin: 0; 
}

.vacation > p {
	font-weight:300;
}
.total-price {
	
}
.view-comments {
	color:$black;
	padding:7px 10px;
	background: $lightBlue;
	border:2px solid $black;
	@include borderRadius(3px);
	&:focus {
		outline:none;
	}
}
/***************************************
COMMENTS
***************************************/
.comments {
	display:none;
	@include darkOpaque;
	padding: 10% 7%;
	height:90px;
	@include borderRadiusBottom(3px);
}
.comments-ul {
	list-style-type:none;
}
.comments-li {
	font-style:italic;
	font-weight:300;
}

/***************************************
MEDIA QUERIES
***************************************/
@media only all and (max-width:768px) {
	.top-h2, .top-h3 {
		margin:0 0 5% 5%;
	}
	.vacation {
		padding:4%;
	}
	.vacation-container {
		width: 90%;
		margin:0 5% 3%;
	}
}