@import "normalize.css";
@import "colors.scss";
@import "mixins.scss";

/***************************************
GENERAL STYLES
***************************************/
*, *:before, *:after {
	@include boxSizing;
	margin:0;
	padding:0;
}

body {
	background-image: url('../img/turtle-bay-beach.jpg');
	color: $white;
}

.section-wrap {
    max-width:1140px;
    margin:0 auto;
    padding:3% 3% 0;
}
h1, h2, h3, h4, h5, h6, p, span {
	margin: 0 0 16px;
}
h1, h2, h3, h4, h5, h6 {
	font-weight:400;
}
/***************************************
VACATION BOX
***************************************/

.vacation {
    background: rgba(0, 0, 0, 0.55);
    float:left;
    padding: 4%;
    @include boxShadow;
    border: 2px solid $white;
    width:31%;
    margin: 0 1.5% 1.5% 0;
}
.vacation > h3 {
	border-bottom:3px solid $lightBlue;
	padding:5px 0;
}
.quantity {
	color: #333;
	width:118px;
	&:focus {
		outline:none;
	}
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none; 
  margin: 0; 
}

.vacation > p {
	font-weight:300;
}
.total-price {
	margin:0;
}
.top-h2, .top-h3 {
	margin-bottom: 34px;
}

/***************************************
MEDIA QUERIES
***************************************/
@media only all and (max-width:1024px) {
}