@mixin boxSizing {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

@mixin darkOpaque() {
	background: rgba(0, 0, 0, 0.55);
}

@mixin borderRadiusBottom($corner) {
	-webkit-border-radius: 0 0 $corner $corner;
	-moz-border-radius: 0 0 $corner $corner;
	-ms-border-radius: 0 0 $corner $corner;
	-o-border-radius: 0 0 $corner $corner;
	border-radius: 0 0 $corner $corner;
}

@mixin borderRadius($corner) {
	-webkit-border-radius: $corner;
	-moz-border-radius: $corner;
	-ms-border-radius: $corner;
	-o-border-radius: $corner;
	border-radius: $corner;
}